<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="myCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\hp\Source\Repos\IOOP_Assignment\IOOP_Assignment\LpDoctorDataBase.mdf;Integrated Security=True;MultipleActiveResultSets=true;' providerName="System.Data.SqlClient"/>
<!--please keep MultipleActiveResultSets=true at end of connectionString-->
	</connectionStrings>
</configuration>


